.search-form {
    display: flex;
    padding: 1rem 0;
}

.search-input {
    width: 300px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
}

.search-button {
    width: 100px;
    height: 43px;
    padding: 5px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}