.app__welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; 
  padding: 2rem 0;
}

.app__title {
  text-align: center; 
}

.app__welcome img {
  height: auto;
  width: 50%;
}